<div class="container">
    <form role="form" data-request="{{__SELF__}}::onSave">
        <h2>Create Page</h2>

        <div class="form-groups">
            <div class="form-group text-field span-left">
                <label for="Form-field-Page-title">Title</label>
                <input type="text" class="form-control" value="" id="Form-field-Page-title" name="title" placeholder="New page title">
            </div>

            <div class="form-group text-field span-right">
                <label for="Form-field-Page-slug">Slug</label>
                <input type="text" class="form-control" value="" id="Form-field-Page-slug" name="slug" placeholder="new-page-slug">
            </div>

            <div class="form-group">
                <textarea name="content" id="Form-field-Page-content-new" placeholder="Enter Content"></textarea>
            </div>

            <button type="submit" class="btn btn-primary btn-lg pull-left">Save</button>
        </div>
    </form>
</div>
