{% set wiki = __SELF__.wiki %}

<div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#viewTab" aria-controls="viewTab" role="tab" data-toggle="tab">View</a></li>
        <li role="presentation"><a href="#createTab" aria-controls="createTab" role="tab" data-toggle="tab">Create</a></li>
        <li role="presentation"><a href="#updateTab" aria-controls="updateTab" role="tab" data-toggle="tab">Update</a></li>
        <li role="presentation"><a href="#historyTab" aria-controls="historyTab" role="tab" data-toggle="tab">History</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="viewTab">{% partial __SELF__~"::view" %}</div>
        <div role="tabpanel" class="tab-pane" id="createTab">{% partial __SELF__~"::create" %}</div>
        <div role="tabpanel" class="tab-pane" id="updateTab">{% partial __SELF__~"::update" %}</div>
        <div role="tabpanel" class="tab-pane" id="historyTab">{% partial __SELF__~"::history" %}</div>
    </div>
</div>
